<!DOCTYPE html>
<html lang="en" xmlns:th="">

<head>
    <meta charset="utf-8">
    <title>Life AI Limfedem</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <th:block th:insert="~{fragments/links}"></th:block>
</head>

<body>
<th:block th:insert="~{fragments/header}"></th:block>
<!-- About Start -->
<center>
    <div class="container-fluid overflow-hidden py-1 mt-1">
        <center>
            <div class="container py-1">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <center>
                        <h1 class="display-5 mb-4">Интегративна медицина</h1>
                    </center>
                    <h5 class="mb-4">Допълнителната и инегративна медицина представлява
                        употребата на допълнително лечение заедно C конвенционалните подходи И прилагането на
                        съответните терапии традиционната медицина. OT
                        5-тото издание на общите препоръки за лечение на рака на гърдата на Европейското училище
                        по онкология и Европейската асоциация по медицинска онкология съдържа специална секция
                        препоръки за прилагането на интегративна медицина. Те включват доказателства в позла или
                        за вреда на съответното допълнително лечение.
                        Алтернативни терапии или терапии прилагани ВМЕСТО научно-доказаните лекарства не се
                        препоръчват в нито една фаза от лечението на рака. С това са се съгласили 100% от
                        експертити съставили препоръките.
                    </h5>
                    <center>
                        <a href="https://life.bbca.bg/single-post/55"
                           class="btn btn-primary rounded-pill py-3 px-5">Прочети повече по темата</a>
                    </center>
                </div>
            </div>
        </center>
    </div>
</center>

<!-- About End -->
<th:block th:insert="~{fragments/footer}"></th:block>
</body>

</html>